@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
:root {
  --headingColor: #0066FF;
  --font10: 10px;
  --font12: 12px;
  --font14: 14px;
  --font16: 16px;
  --font20: 20px;
  --font24: 24px;
  --font26: 26px;
  --font55: 55px;
  --gradient: linear-gradient(to top right, #B2E6FD, #9BD8F1, #2D0CFF);
  /* --body-gradient: linear-gradient(180deg, #06F 0%, #4E94FF 100%); */
  --body-gradient: #0167FF;
  --card-background: rgba(255, 255, 255, 0.55);
  --sidebar-shadow: rgb(255, 255, 255, 0.55);
  --green-background: #DFFDDD;
  --red-background: #FBC3C3;
  --text-color: #4E94FF;
  --sidebar-color: #CCCCFF;
  --sidebar-icon-background: #1171FF;
  /* --sidebar-icon-default-background: #1171FF; */

}
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 ,p{
  margin: 0 !important;
}

::-webkit-scrollbar {
  display: none;
}
body {
  /* font-family: "Quicksand", serif; */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--body-gradient); */
  
  /* background: #0167FF; */
  /* overflow-y: hidden; */
}

.dashboard-background{
  background: #F8F8F8;
}
.topBar-background{
  padding: 1px;
  background: #D9D9D9;;
}

.body-background-color{
  background-color: var(--body-gradient);
}
.custom-radius{
  border-radius: 20px 20px 0px 0px;
  height: 99vh;
}
/* @media screen and (max-width:680px) {
  .custom-radius{
    border-radius: 0px;
  }
} */
.nav-background {
  background: #ffffff;
}
.bg-gradient-custom {
  background: var(--gradient);
  border-radius: 30px;
}


.sidebar {
  width: 150px;
  transition: width 0.3s ease-in-out;
  position: relative;
  z-index: 9999;
}
/* @media screen and (max-width:680px) {
  .sidebar.collapse {
    width: 0 !important;
    overflow: hidden;
  }

} */
.sidebar-icon{
  display: inline-block;
  /* color: var(--sidebar-icon-default-background); */
  border-radius: 10px; 
  background: var(--sidebar-icon-background) ;
  padding: 10px 15px ; 
  transition: all 0.3s ease-in-out;
}
.sidebar-icon.active{
  background: #ffffff;
  /* color: white; */
}
.sidebar-label {
  color: var(--card-background);
  font-size: var(--font12);
  transition: all 0.3s ;
}
.sidebar-label.active {
  color: white;
  font-weight: 600;
  /* font-size: var(--font14); */
}
.sidebar-submenu {
  position: absolute;
  /* position: fixed; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 150px;
  right: -160px;
  background: var(--headingColor);
  border-radius: 10px;
  z-index: 9999;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar-submenu.show {
  opacity: 1;
  transform: scaleY(1);
}
.sidebar-submenu-items {
  border: 1px solid var(--card-background);
}
.sidebar-submenu-items:hover {
  background: var(--card-background);
}

.sidebar-link-bar{
  position: absolute;
  /* top: 70px; */
  left: 0px; 
  width: 7px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 40px;
  background: white;
  /* transition: all 0.6s ease-in-out; */
  transition: top 0.4s ease-in-out, height 0.4s ease-in-out;
}

.sidebar-top-image{
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 226px;
  height: 234.699px; */
  /* transform: rotate(30deg); */
  z-index: 2;
  /* fill: #391273; */
}

.sidebar-logout-border{
  margin: 20px 0px 20px 0px;
  width: 80%;
  background: #97C1FF;
  padding: 1px;
  
}

.card {
  background: var(--card-background) !important;
  width: 219px;
  height: 122px;
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
/* @media screen and (max-width:680px) {
  
} */

.dashboard-hero-section-heading{
  font-size: var(--font26);
}
.dashboard-hero-section-heading span{
  color: var(--text-color);
}
/* @media screen and (max-width:680px) {
  .dashboard-hero-section-heading{
    font-size: var(--font24);

  }
  
} */
.card:hover,
.card:hover .card-trend {
  box-shadow: none;
}

.card-trend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;

}

.card-green {
  /* border: 1px solid #86f27f; */
  background: var(--green-background);
}

.card-red {
  /* border: 1px solid #dc3545; */
  background: var(--red-background);
}

.chart-container {
  /* width: 80%; */
  background-color: #ffffff;
  /* padding: 20px; */
  border-radius: 10px;
  border: 1px solid rgba(200, 200, 200, 0.6);
}


.calendar-container {
  max-height: 0;
  width: 28vw;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.calendar-container.show {
  max-height: 700px;
}

@media screen and (max-width:680px) {
  .mainContent {
    height: auto;
  }

  .card{
    width: 100%;
  }

  .card,
  .card-trend {
    box-shadow: none !important;
  }

  .sidebar {
    background: var(--body-gradient);
    position: fixed;
    width: 120px;
  }

  .sidebar.collapse {
    width: 0 !important;
    overflow: hidden;
  }

  .calendar-container {
    width: 100%;
  }

  .dashboard-hero-section-heading{
    font-size: var(--font24);

  }

  .custom-radius{
    border-radius: 0px;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.matchs_img {
  width: 55px;
  height: 55px;
  padding: 5px;
  border: 1px solid #0099FF;
  border-radius: 50%;
  overflow: hidden; /* Ensures the image does not spill outside the rounded div */
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchs_img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the div without distortion */
  border-radius: 50%; /* Makes the image fully rounded */
}


.matches_button{
  border: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  background: #FAE1E1;
  color: #D30404;
  width: 80px;
}

.matches_button.open{
  color: #008000;
  background: #E0F0E0;
}